html, body {
    margin: 0;
    height: 100%;
}


header.galleli-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 50px 16px 50px;
    background-color: #FFFAE8;
    z-index: 999;
}

div.galleli-header {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid black;
    justify-content: space-evenly;
    width: 100%;
}

div.logo-container {
    padding-bottom: 30px;
    padding: 0 20px 30px 20px;
}
/* 
div.home-content-bottom {
    width: 100%;
    height: 579px;
    background-color: #958B82;
    margin-top: 36px;
} */

div.home-message {
    width: max-content;
    height: max-content;
    margin-top: 10px;
    background-color: #E8E8E8;
    
    display: block;
    flex-direction: column;
    align-items: center;

}

p.home-midpoint {
    font-family: Caladea;
    font-style: italic;
    line-height: 183.3%;
    font-size: larger;
    text-align: center;
    margin: 0;
    font-weight: 600;
    padding: 10px;
}

p.galleli-header {
    cursor: pointer;
    font-weight: 300;
    font-size: 16;
    margin-bottom: 0;
}

p.home-create {
    font-family: 'Allan', cursive;
    font-size: x-large;
    color: rgb(168, 10, 10);
    text-align: center;
    width: max-content;
    height: max-content;
}

section.home-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, #FFFAE8, #FFFAE8 70%,#958B82,  #958B82 30%)
}

div.flex {
    display: flex;
    flex-direction: column;
}

.home-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title side-img side-img 
    subtitle subtitle side-img side-img";
}

.grid-home {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "title title side-img side-img 
    subtitle subtitle side-img side-img";
}

.row-galleli {
    display: flex;
    flex-direction: column;
    max-width: 400px

}

.row-with-image {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.la-check-circle:before {
    color: white;
    font-size: x-large;
}

.response {
    max-width: 100%;
    height: auto;
}